.home{
  .posts{
    .postItem{
      border: 1px solid grey;
      border-radius: 5px;
      margin-bottom: 15px;
      padding: 15px;

      .postItem_title{
        margin-bottom: 10px;
      }

      
    }
  }
}