.post{
  .wrapper{
    .post_block{

      display: flex;
      flex-direction: column;

      .postItem{

        margin-bottom: 20px;
        .postInfo{
          margin-bottom: 15px;
        }

        img {
          max-height: 300px;
          float: left;
          margin: 0 10px 5px 0;
        }
      }
    }

    .post_comments{

      .commentItem{
        padding: 10px ;
        border: 1px solid grey;
        margin-bottom: 15px;
        border-radius: 5px;
        font-weight: bold;
        .comment_author{
          margin-bottom: 7px;
        }
        .comment_text{
          font-size: 1.5em;
          margin-bottom: 10px;
        }
        .comment_delete{
          cursor: pointer;
          color: red;
          font-size: 1.5rem;
          margin-right: 10px;
        }
        .comment_edit{
          cursor: pointer;
          color: green;
          font-size: 1.5rem;
        }
      }

    }


  }
}